<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous" />
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %> <% if (typeof error == 'string' && error)
    { %>
    <main style="margin: 1em"><%- include('partials/_error') %></main>
    <% } else { %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body table-responsive">
        <table class="table table-borderless table-sm m-auto w-100">
          <tbody>
            <tr>
              <td class="text-right w-50 pt-2">
                <h5 class="mt-1">TinyURL for:</h5>
              </td>
              <td class="text-left">
                <form
                  class="form-inline"
                  method="POST"
                  action="/urls/<%= id %>?_method=PATCH">
                  <input
                    style="font-size: 1.4rem"
                    class="form-control"
                    type="url"
                    id="edit_longURL"
                    name="editedURL"
                    value="<%= longURL %>"
                    placeholder="https://" />
                  <button class="btn btn-primary ml-1">Edit</button>
                </form>
              </td>
            </tr>
            <tr>
              <td class="text-right"><p class="card-text">Short URL:</p></td>
              <td class="text-left"><a href="/u/<%= id %>"><%= id %></a></td>
            </tr>
            <tr>
              <td class="text-right"><p class="card-text">Date Created:</p></td>
              <td class="text-left"><p class="card-text"><%= created %></p></td>
            </tr>
            <tr>
              <td class="text-right">
                <p class="card-text">Unique Visits:</p>
              </td>
              <td class="text-left">
                <p class="card-text">
                  <%= new Set(Object.values(visited)).size %>
                </p>
              </td>
            </tr>
            <tr>
              <td class="text-right"><p class="card-text">Total Visits:</p></td>
              <td class="text-left">
                <p class="card-text"><%= Object.keys(visited).length %></p>
              </td>
            </tr>
          </tbody>
        </table>

        <% if (Object.keys(visited).length > 0) { %>
        <table class="table table-sm table-bordered w-auto mx-auto mt-4">
          <tbody>
            <tr>
              <td class="w-50"><h6>Visited On</h6></td>
              <td><h6>Visited By</h6></td>
            </tr>
            <% for (const visit of Object.entries(visited)) { %>
            <tr>
              <td class="text-right">
                <p class="card-text">
                  <%= new Date(Number(visit[0])).toUTCString() %>
                </p>
              </td>
              <td>
                <p class="card-text"><%= visit[1] %></p>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <% } %>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>
</html>
